<div class="row"> 
  <div class="col-sm wrapper mt-5" align="center">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
       
      <div class ="input-group mb-5">
         <label>Full name</label>
       <input type="text" name="name" placeholder="name" formControlName="name">
       </div>
       
       <div class ="input-group mb-5">
         <label>Username</label>
       <input type="text" name="email" placeholder="email" formControlName="email">
       </div>
       
       <div class="input-group mb-5">
         <label>Password</label>
       <input type="password" name="password" placeholder="password" formControlName="password">
       </div>

       <div class="input-group mb-5">
         <label>Confirm Password</label>
       <input type="password" name="passwordConf" placeholder="password" formControlName="passwordConf">
       </div>
       
       <div class="input-group mb-5">
         <button type="submit" class="btn" name="login_user">Login</button>
       </div>
       <p>
          Already a member? <a href="">Login</a>
        </p>
     </form>
  </div>
</div>
